<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD5NEHXLGMyVcD06G6J1mA-frlm43T87U</string>
	<key>GCM_SENDER_ID</key>
	<string>562256620521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elitappar.AuthSample</string>
	<key>PROJECT_ID</key>
	<string>authsample-43497</string>
	<key>STORAGE_BUCKET</key>
	<string>authsample-43497.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562256620521:ios:881b92611f344a5be1f978</string>
</dict>
</plist>